.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #161b22!important;
    color: #d4dae0!important;
}

.nav-link,
.navbar-brand {
    color: #d4dae0!important;
}

.navbar-light {
    background-color: #242b35!important;
    color: #d4dae0!important;
}

body {
    background: #0d1117!important;
    color: #d4dae0!important;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    line-height: 1.5;
}

.footer > .container {
    background: #07090d!important;
    color: #d4dae0!important;
    border: 0px!important;
}

.card-body {
    background-color: #0b1015!important;
    color: #d4dae0!important;
    border-radius: 0px!important;
    box-shadow: 0px 5px #0b0e15!important;
}

.card-header,
.card-footer {
    background-color: #060d13!important;
    color: #d4dae0!important;
    border-radius: 0px!important;
}

.toggle-handle {
    background-color: #0c1822!important;
    border: 0px!important;
}

.toggle-off {
    background-color: #081017!important;
    color: #546271!important;
}

.toggle.btn.btn-light,
.toggle.btn.btn-outline-light {
    background-color: #0a151e!important;
    border-color: #0a151e!important;
}

.breadcrumb,
.table {
    background-color: #080b0f!important;
    color: #d4dae0!important;
    border: 0px!important;
}

.table > .bg-white {
    background-color: #080b0f!important;
    color: #d4dae0!important;
    border: 0px!important;
}

.table-bordered {
    background-color: #0c121a!important;
    color: #d4dae0!important;
    border: 0px solid!important;
}

.card {
    background-color: transparent!important;
    color: #d4dae0!important;
    border: 0px!important;
}

thead {
    border: 0px!important;
}

th {
    border: 0px!important;
}

.table th,
.table td {
    border-top: 1px solid #1e2831;
}

.table-hover tbody tr:hover {
    background-color: #0c121a!important;
    color: #d4dae0!important;
    transition: 0.3s;
}

.form-control {
    background-color: #0d1117!important;
    border-color: #1f2b3e!important;
    color: #d4dae0!important;
}

.btn-success,
.alert-success,
.badge-success {
    background-color: transparent!important;
    background-image: linear-gradient(rgba(70, 149, 74, 0.1), rgba(70, 149, 74, 0.1))!important;
    border: 1px solid;
    border-color: rgba(70, 149, 74, 0.4)!important;
    color: #6bc46d!important;
}

.btn-info,
.alert-info,
.badge-info {
    background-color: transparent!important;
    background-image: linear-gradient(rgba(70, 146, 149, 0.1), rgba(70, 146, 149, 0.1))!important;
    border: 1px solid;
    border-color: rgba(70, 146, 149, 0.4)!important;
    color: #6bc4be!important;
}

.btn-primary,
.alert-primary,
.badge-primary {
    background-color: transparent!important;
    background-image: linear-gradient(rgba(70, 96, 149, .1), rgba(70, 96, 149, .1))!important;
    border: 1px solid;
    border-color: rgba(70, 96, 149, .4)!important;
    color: #6b84c4!important;
}

.btn-danger,
.alert-danger,
.badge-danger {
    background-color: transparent!important;
    background-image: linear-gradient(rgba(149, 70, 90, .1), rgba(149, 70, 90, .1))!important;
    border: 1px solid;
    border-color: rgba(149, 70, 90, .4)!important;
    color: #c46b81!important;
}

.btn-secondary,
.alert-secondary,
.badge-secondary {
    background-color: transparent!important;
    background-image: linear-gradient(rgba(153, 153, 153, .1), rgba(147, 147, 147, .1))!important;
    border: 1px solid;
    border-color: rgba(145, 145, 145, .4)!important;
    color: #c8c8c8!important;
}

.coolhr {
    background: linear-gradient( to right, #dd7070 20%, #e1e17e 20%, #e3e374 36%, #66d266 36%, #6dce6d 60%, #6969d9 60%, #8989d4 100%);
}

.navbar-toggler {
    background-color: #d4dae0!important;
}

.list-group-item.active {
    background-color: #0d1117!important;
    border-color: #1f2b3e!important;
    color: #d4dae0!important;
    transition: 0.3s;
}

.list-group-item {
    background-color: #29313c!important;
    border-color: #2a3342!important;
    color: #d4dae0!important;
}

.join-server > .fa-play {
    display: none!important;
}

.nav-link.active {
    background-color: #0b1015!important;
    border-color: #0b1015!important;
    color: #d4dae0!important;
    transition: 0.3s;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: #12181e #12181e #0b1015;
    transition: 0.3s;
}

.jumbotron {
    background-color: #0b1015!important;
    color: #d4dae0!important;
    border-radius: 0px!important;
    box-shadow: 0px 5px #0b0e15!important;
}
